<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <!-- <script src="/static/js/firebase-messaging-sw.js"></script>
     -->



     <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDsz7TnT2dxI43v8puME9Gqbe6pnb0F7N0",
            authDomain: "pair-programming-8ccae.firebaseapp.com",
            projectId: "pair-programming-8ccae",
            storageBucket: "pair-programming-8ccae.appspot.com",
            messagingSenderId: "544169966115",
            appId: "1:544169966115:web:c32a9f6d32bac2d531cf96",
            measurementId: "G-DZ47GH30DE"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const messaging = firebase.messaging();
        console.log(messaging.getToken())
        messaging.getToken({ vapidKey: 'BHNrwLRS0cbeEqhePd4lyA1xmyIx1YDsFxIB21CUC5IDROXjBTTh8jKxXz2uMotCI_E-ZaGEHHad46wKuU531dY' }).then((currentToken) => {
        if (currentToken) {

          console.log(currentToken)
        } else {
          console.log('No registration token available. Request permission to generate one.');

        }
      }).catch((err) => {
        console.log('An error occurred while retrieving token. ', err);
      });
        messaging
         .requestPermission()
         .then(function () {
           console.log("Notification permission granted.");
           return messaging.getToken()
         })
         .catch(function (err) {
         console.log("Unable to get permission to notify.", err);
       });

        messaging.onMessage((payload) => {
        console.log('Message received. ', payload);
      });

      </script>


</head>

<body>

</body>

</html>
