{% load webpush_notifications %}
<html>
  <head>
    {% webpush_header %}
    <title>Webpush</title>
  </head>
  <body>
    <h2>Webpush</h2>
    <br />
    <div>
      <p>Webpush Subscribe Button Here</p>
      {% webpush_button %}
    </div>
    <br />
    <div>
      <p>Can also do one with custom class</p>
      {% webpush_button with_class="btn btn-outline-info" %}
    </div>
    <br />
    <div>
      <p>Send a push payload to currently logged in user </p>
      {{ user }}
      <form action="/app/send_push">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="body" placeholder="Body" />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
