.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.challenge {
  height: 100vh;
}

.p {
  color: black;
}

.site-page-header .ant-page-header-heading-sub-title {
  color: #ffffff !important;
}
